################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyJob1/MyJob1/bin/Debug/net10.0
/MyJob1/MyJob1/obj
/MyJob1/.vs/MyJob1.slnx
/MyJob1/MyJob1/MyJob1.csproj.user
